.initial-greet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #8d8d8d;
  width: 100%;
  height: 100%;
  background-color: black;

  &.initial {
    font-size: 5em;
  }

  &.final {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: none;
    font-size: 1em;
    border-bottom: 2px solid #8d8d8d;
    text-align: start;
    padding: 1em 4em;
    background-color: transparent;
  }
}
